.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    font-family: 'Lato', sans-serif;
    width: 550px;
}

.container {
    background: turquoise;
    width: 180px;
    height: 180px;
    display: flex;
}

p{
    text-align: center;
    width: 50px;
    height: 40px;
}

#alto{
    background-color: bisque;
}

#centro{
    background-color: rgb(255, 186, 221);
}

#bajo{
    background-color: rgb(181, 223, 237);
}

#dos{
    flex-direction: column;
    justify-content: center;
}

#tres{
    flex-direction: column;
    justify-content: flex-end;
}

#cuatro{
    justify-content: center;
}

#cinco{
    justify-content: center;
    align-items: center;
}

#seis{
    justify-content: center;
    align-items: flex-end;
}

#siete{
    flex-direction: row-reverse;
}

#ocho{
    flex-direction: row-reverse;
    align-items: center;
}

#nueve{
    flex-direction: row-reverse;
    align-items: flex-end;
}
